 {% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png'%}">
        <title>{% block title %}TÍTULO [PLACEHOLDER]{% endblock %}</title>
    </head>

    <body>
        <header class="portada">
            <div class = "texto-portada">
                {% block header %}
                    <h1 id="arriba">OUTLET CAR</h1>
                {% endblock header %}
            </div>
        </header>

        <nav class="navbar">
            {% block nav %}
                <div class="nav-izq">
                    <span class="logo"><img src="{% static 'images/logo.png' %}" alt="logo outlet car" style="width:210px;height:41px;"></span>
                </div>
                <ul class='nav-links'>
                    <li><a class="inicio" href={% url 'index' %}>Inicio</a></li>
                    <li><a href={% url 'lista_ofertas' %}>Nuestras Ofertas</a></li>
                    <li><a href={% url 'visualizar_marcas' %}>Las Marcas</a></li>
                    <li><a href={% url 'lista_categorias' %}>Categorías</a></li>
                    {% if user.is_authenticated %}
                        <li><a href={% url 'lista_favoritos' %}>Tus Favoritos</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li><a href={% url 'procesar_form' %}>Formulario</a></li>
                    {% endif %}


                {% if user.is_authenticated %}

                    {% if user.is_staff %}
                            <li>Hola trabajador, {{ user.username }}</li>
                    {% else %}
                            <li>Hola Usuario, {{ user.username }}</li>
                    {% endif %}

                    <li>
                        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button class="botonCerrarSesion" type="submit">
                            Cerrar sesión
                        </button>
                        </form>
                    </li>

    {% else %}
        <li><a class="inicioSesion" href="{% url 'login' %}">Iniciar sesión</a></li>
    {% endif %}
</ul>


            {% endblock nav %}
        </nav>

        <div class="content">
            {% block content %}
            {% endblock content %} 
        </div>



        <footer>
            {% block footer %}
                <div class="bloque-footer">
                    <h3>CONTÁCTANOS</h3>
                    <p>+34 912 345 678</p>
                    <p>contacto@outletcar.com</p>
                </div>

                <div class="bloque-footer">
                    <h3>VISÍTANOS</h3>
                    <p>C/ Falsa de OutletCar</p>
                    <p>28080 Madrid (España)</p>
                </div>

                <div class="bloque-footer">
                    <h3>HORARIO</h3>
                    <p><b>L - V:</b> 8.00am - 20.00pm</p>
                    <p><b>Sab:</b> 8.00am - 13.00pm</p>
                </div>
            {% endblock footer %}
        </footer>
        {% block arriba %}
        <div class="volverArriba">
            <a href="#arriba" style="color: white;"> Volver arriba</a>
        </div>
        {% endblock arriba %}
        {% block scripts %}{% endblock %}
    </body>
</html>