{% extends "base.html" %}

{% block title %}Outlet Car - Marcas{% endblock %}

{% block content %}
    <main class="contenedor">
        <h2 class="titulo">Detalle de Marca: {{ marca }}</h2>

        {% if coches %}
            <div class="contenedorCoche">
                {% for coche in coches %}
                    <div class="cocheDetalle">
                        {% if coche.foto %}
                            <div class="foto">
                                <img src="{{ coche.foto.url }}">
                            </div>
                        {% endif %}
                        <div class="infoCoche">
                            <h3>{{coche.modelo}}</h3>
                            <p><strong>Año: </strong>{{coche.anio}}</p>
                            <p><strong>Kilometros: </strong>{{coche.km}}km</p>
                            <p><strong>Tipo de combustible: </strong>{{coche.idCombustible}}</p>
                            <p><strong>Precio: </strong>{{coche.idPrecio}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>

{% endblock content %}