{% extends "base.html" %}

{% block title %}Outlet Car - Categorias{% endblock %}

{% block content %}
    <main class="contenedor">
        <h2 class="titulo">Detalle de Categoría: {{categoria.nomCat}}</h2>
        
        {% if coches %}
            <div class="contendorCoche">
                {% for coche in coches %}
                    <div class="cocheDetalle">
                        <h3>{{ coche.modelo }}</h3>
                        <p><strong>Marca:</strong> {{coche.idMarca.nomMarca}}</p>
                        <p><strong>Año:</strong> {{coche.anio}}</p>
                        <p><strong>Kilometros:</strong> {{coche.km}}</p>
                        <p><strong>Tipo de combustible:</strong> {{coche.idCombustible.nomCombustible}}</p>
                        <p><strong>Precio:</strong> {{coche.idPrecio.precio}} euros</p>
                        </div>
                {% endfor %}
            </div>
        {% endif %}

    </main>

{% endblock content %}