{% extends "base.html" %}

{% block title %}Outlet Car - Detalle Categoría{% endblock %}

{% block content %}
    <main class="contenedor">
        <h2 class="titulo">Detalle de Categoría: {{categoria.nomCat}}</h2>
        
        {% if coches %}
            <div class="contenedorCoche">
                {% for coche in coches %}
                    <div class="cocheDetalle">                        
                        {% if coche.foto %}
                            <div class="foto">
                                <img src="{{ coche.foto.url }}">
                            </div>
                        {% endif %}

                        <div class="infoCoche">
                            <h3>{{ coche.modelo }}</h3>
                            
                            <p><strong>Marca:</strong> 
                                <a href="{% url 'verMarca' coche.idMarca.pk %}" class="llevarMarca">
                                    {{ coche.idMarca.nomMarca }}
                                </a>
                            </p>

                            <p><strong>Año:</strong> {{coche.anio}}</p>
                            <p><strong>Kilómetros:</strong> {{coche.km}} km</p>
                            <p>
                                <strong>Tipo:</strong> 
                                <a href="{% url 'detalle_combustible' coche.idCombustible.pk %}" class="llevarCombustible">
                                    {{ coche.idCombustible.nomCombustible }}
                                </a>
                            </p>
                            <p><strong>Precio:</strong> {{coche.idPrecio.precio}}€</p>

                            <a href="{% url 'eliminar_coche' pk=coche.pk %}" class="btn-eliminar">
                                Eliminar
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock content %}