{% extends "base.html" %}

{% block title %}Outlet Car - Ofertas{% endblock %}

{% block content %}
    <h1>Outlet Car</h1>

    {% if coche %}
    {% comment %} Lista de todas las ofertas. ACTUALMENTE: solo precio. {% endcomment %}

    <h3>Oferta número: {{oferta.id}}</h3>
    <p>Matrícula: {{coche.matricula}}</p>
    <p>Modelo: {{coche.modelo}}</p>
    <p>Marca: {{coche.idMarca.nomMarca}}</p>
    <p>Año: {{coche.anio}}</p>
    <p>Combustible: {{coche.idCombustible.nomCombustible}}</p>
    <p>Kilometraje: {{coche.km}}</p>
    <p>Precio: {{oferta.precio}}</p>
    
    <p>Lista de Categorías: </p>
    <ul>
        {% for cat in coche.idCat.all %}
            <li>{{ cat.nomCat }}</li>
        {% empty %}
            <li>Sin categorías.</li>
        {% endfor %}
    </ul>
    
    {% else %}
        <p>No hay ningún coche asociado a esta oferta.</p>
    {% endif %}
{% endblock content %}