{% extends "base.html" %}

{% block title %} Outlet Car - Formulario {% endblock %}

{% block content %}

<div class="containerGen">
    <h2 class="titulo">Formulario de Coche</h2>
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'procesar_form' %}">
        {% csrf_token %}

        <ul class="listaForm">
            {{form.as_ul}}
        </ul>

        <label for= "precio">Precio: </label>
        <input type="input" name = "precio" id="precio"> <br><br>

        <input type="submit" class="botonEnviar" value="Enviar">
    </form>
</div>

{% endblock %}