{% extends "base.html" %}
{% load static %}

{% block title %}Outlet Car - Inicio{% endblock %}

{% block content %}

<div class="tituloinicio">
    <h1>Coche más barato por cada marca</h1>
</div>

<table id="tabla-coches"
       data-url="{% url 'coches_mas_baratos_json' %}">
    <thead>
        <tr>
            <th>Marca</th>
            <th>foto</th>
            <th>Precio (€)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="{% static 'js/outlercar.js' %}"></script>



{% endblock content %}
