{% extends "base.html" %}
{% load static %}

{% block title %}Outlet Car - Inicio{% endblock %}

{% block content %}

<section id="cocheAleatorio" class="cocheAleatorio">

    <h2>¿No sabes qué coche elegir?</h2>
    <div>
        <p class="descripcion">
            Inspírate entre una de nuestras muchas ofertas, presiona la imagen para ver una lista con modelos de la misma marca.
            ¿Quieres ver otro coche aleatorio? Pulsa el botón "Siguiente coche".
    </p>
    </div>

    <div class="cocheContenido">

        <a href="{% url 'verMarca' cocheAleatorio.idMarca.id %}">
        <img src="{{ cocheAleatorio.foto.url }}" alt="Coche aleatorio">
        </a>

    

        <p class="nombreCoche">
            {{ cocheAleatorio.idMarca }} {{ cocheAleatorio.modelo }}
        </p>

        <form method="GET" action="{% url 'index' %}">
            <button type="submit" name="random" value="1">
                Siguiente coche
            </button>
        </form> 

    </div>

    <hr class="separador">

</section>



<div class="tituloinicio">
    <h2 class="tituloDelIndex">Coche Más Barato Por Cada Marca</h2>
</div>
<div>
    <p class="descripcion">
        Consulta los coches más económicos disponibles en nuestro catálogo, organizados por marca. <br>
        Encuentra fácilmente el vehículo que se ajusta a tu presupuesto y necesidades.
    </p>
</div>
<table id="tabla-coches"
        data-url="{% url 'coches_mas_baratos_json' %}">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Fotografia</th>
            <th>Precio (€)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<section class="quienesSomos">
  <div class="qsTexto">
    <h2>¿Quiénes somos?</h2>
    <p>
        OutletCar es una plataforma dedicada a la venta de vehículos de ocasión
        y seminuevos al mejor precio, ofreciendo a nuestros clientes una amplia
        variedad de marcas y modelos cuidadosamente seleccionados.
        <br><br>
        Nuestro objetivo es facilitar el proceso de compra de un coche de forma
        sencilla, segura y transparente, permitiendo comparar diferentes opciones
        y acceder a ofertas actualizadas en todo momento.
        <br><br>
        Contamos con un equipo de profesionales con años de experiencia en el
        sector automovilístico, comprometidos con la transparencia, la calidad
        de los vehículos y la satisfacción del cliente.
    </p>
</div>


    <div class="qsImagen">
        <img src="{% static 'images/logo.png' %}" alt="logo de la empresa">
    </div>

</section>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/outlercar.js' %}"></script>
{% endblock %}
