{% extends "base.html" %}

{% block title %}Outlet Car - Ofertas{% endblock %}

{% block content %}
    <div class = 'contenedorLista'>
        <h2 class = titulo>Ofertas Disponibles</h2>
    {%comment %} Lista de todas las ofertas. ACTUALMENTE: solo precio. {% endcomment %}
    {% if lista_ofertas %}
        <ul class = 'lista'>
        {% for o in lista_ofertas %}
            <li class = 'elemento'>
                <div>
                    <p class="nombre">{{o.oferta.idMarca.nomMarca}} {{o.oferta.modelo}}</p>
                    <p class="detalles">{{o.oferta.idCombustible.nomCombustible}}, {{o.oferta.km}}km</p>
                </div>
                <div>
                    <p class="precio"><strong>{{o.precio}}€</strong></p>
                    <a href="{% url 'ver_oferta' o.id %}" class="btn-verDetalle">Más Detalles</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    {%else%}
        <p>No hay ofertas creadas.</p>
    {%endif%}
    </div>
{% endblock content %}
