{% extends "base.html" %}
{% load static %}

{% block title %}Outlet Car - Marcas{% endblock %}

{% block content %}
    <main class="contenedorLista">
        <h2 class="titulo">Marcas Disponibles</h2>

        {% if marcas %}
            <ul class="lista">
                {% for marc in marcas %}
                    <li class="elemento">
                        <p class="nombre">
                            <strong>{{marc}}</strong>
                        </p>
                        
                        <a href="{% url 'verMarca' marc.id %}" class="btn-verDetalle">Más Detalles</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>

{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/lista_marcas.js' %}"></script>
{% endblock %}