{% extends "base.html" %}

{% block title %}Outlet Car - Categorias{% endblock %}

{% block content %}
    <div class="contenedorLista">
        <h2 class="titulo">Categorías Disponibles</h2>

        {% if categorias %}
            <ul class="lista">
                {% for categoria in categorias %}
                    <li class="elemento">
                        <p class="nombre">
                            <strong>{{categoria.nomCat}}</strong>
                        </p>
                        
                        <a href="{% url 'detalle_categoria' categoria.pk %}" class="btn verDetalle">
                            Ver Detalle
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}