{% extends "base.html" %}

{% block title %}Outlet Car - Categorias{% endblock %}

{% block content %}
    <main class="container">
        <h2 class="title">Categorías Disponibles</h2>

        {% if categorias %}
            <ul class="categoria-list">
                {% for categoria in categorias %}
                    <li class="categoria-item">
                        <p class="categoria-name">
                            {{categoria.nomCat}}
                        </p>
                        
                        <a href="{% url 'detalle_categoria' categoria.pk %}" class="btn ver-detalle">
                            Ver Detalle
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>

{% endblock content %}