{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div >

    {% if tipo == "staff" %}
        <h1>Iniciar sesión como STAFF</h1>
    {% else %}
        <h1>Iniciar sesión como CLIENTE</h1>
    {% endif %}
<div class="centrar_login">
    <form method="POST" >
        {% csrf_token %}

        <input type="text" name="username" placeholder="Usuario" required>

        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Entrar</button>
    </form>
</div>
    {% if error %}
        <p class="login-error">{{ error }}</p>
    {% endif %}

    <a href="{% url 'selector_login' %}">Volver</a>

</div>

{% endblock %}
