footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 200px;
    background-color: #3C4044;
}

.blockfooter {
    text-align: left;
    float: left;
    color: #E6E6E6;
    padding-bottom: 50px;
}
p {
    font-size: 14px;   
    font-family: 'Arial', sans-serif;
}
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 20px;
}
   
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
li
{
    padding-bottom: 10px;   
}

 th{
    padding: 16px;
    width: 5%;
    text-align: center;
    background-color:rgba(19, 119, 181, 0.549);
    color: white;
    border: 1px solid black;
   
}
 td {
    padding:  12px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid rgba(19, 119, 181, 0.549);
    
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.title {
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.categoria-list {
    list-style: none;
    display: grid;
}

.categoria-item {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-name {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
}

.btn.ver-detalle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
}


.containerCar {
    display: grid;
    margin-top: 20px;
}

.car {
    background-color: white;
    padding: 20px;
}

.car h3 {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 15px;
}

.car p {
    margin: 8px 0;
    color: #000000;
}

