@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
    font-family: 'Inter', sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    background-color: white;
}

/* PORTADA */
.portada {
    /*tengo q escoger una imagen pa meter usando background-image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/portada.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.texto-portada {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

.content {
    margin: 60px;
}

/* CONTENEDOR PARA LA NAVBAR */
.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 15px 40px;
    background-color: #0A2A43;
    color: white;
}

.nav-izq { /* Navbar a la IZQ */
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    padding: 4px 10px;
    background: white;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}

.nav-links { /* Navbar a la DCHA con links*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
    }

.nav-links a {
    color: #73a5ff;
    text-decoration: none;
    font-size: 16px;
}

/* PARA EL BOTON INICIO EN AZUL */
.nav-links a.inicio {
    background: #007BFF;
    color: white;
    padding: 8px 18px;
    border-radius: 7px;
}

/* FOOTER */
footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 200px;
    background-color: #0A2A43;
}

.bloque-footer {
    text-align: left;
    float: left;
    color: #E6E6E6;
    padding-bottom: 50px;
}

p {
    font-size: 14px;   
}

h1, h2, h3 {
    padding-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007BFF;
}

th{
    padding: 16px;
    width: 5%;
    text-align: center;
    background-color: #0A2A43;
    color: white;
    border: 1px solid black;

}

td {
    padding:  12px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    
}

td a{
    color: black;
    text-decoration: underline;
}

.bloque-oferta {
    width: 90%;
    
}

.tituloinicio {
    text-align: center;
    margin-top: 20px;
}
.tituloinicio h1 {
    color:  #3C4044;
}

.contenedorLista {
    width: 90%;
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.contenedor {
    padding: 20px 0;
    width:80%;
    margin: 0 auto;
}

.titulo {
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.lista {
    list-style: none;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
}

.elemento {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C8C8C8;
    margin-bottom: 10px;
}

.elemento:nth-of-type(even) {
    background-color: #F2F2F2;
}

p.precio {
    font-size: 25px;
}

p.detalles {
    font-size: 12px;
    color: #3C4044;
    font-style: italic;
}

p.nombre {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    
}

.btn-verDetalle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
}


.contenedorCoche {
    display: grid;
    margin-top: 20px;
}

.cocheDetalle {
    background-color: white;
    padding: 20px;
}

.cocheDetalle h3 {
    font-size: 1.3rem;
    color: #fff5f5;
    margin-bottom: 15px;
    background-color: #666e76;
}

.cocheDetalle p {
    margin: 8px 0;
    color: #000000;
    text-align: center;
    font-size: 1rem;
}

.containerGen {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fafafa;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listaForm {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listaForm  li{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.botonEnviar {
    padding: 10px 15px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.botonEnviar:hover {
    background: #005fa3;
}

.cocheDetalle {
    display: flex;          
    align-items: center;      
    gap: 30px;                 
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.cocheDetalle .foto {
    flex: 0 0 300px;        
}

.cocheDetalle .foto img {
    width: 100%;               
    height: 200px;                
    border-radius: 8px;
}

.cocheDetalle .infoCoche {
    flex: 1;                  
    text-align: left;       
}

.llevarMarca {
    color: #000000;
}

.botonCerrarSesion {
    background: none;
    border: none;
    color: #73a5ff;  
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}
.botonCerrarSesion:hover {
    text-decoration: underline;
}
body {
    transition: opacity 0.4s ease;
}

body.fade-out {
    opacity: 0;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white; 
    padding: 8px 16px; 
}

.contenedorEliminacion {
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.titulo {
    color: #000000;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.contenedorEliminacion p {
    margin-bottom: 25px;
    color: #000000; 
    font-size: 1.1rem;
}

.contenedorEliminacion form * {
    display: block; 
    width: 100%; 
    padding: 12px;
    text-align: center;
    margin-top: 15px; 
}

.enviar { 
    background-color: #dc3545; 
    color: white; 
}

.cancelar { 
    background-color: #f8f9fa; 
    color: #000000;
}

.infoCoche ul {
    list-style: none; 
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;             
}

.infoCoche ul li a {
    display: inline-block;
    padding: 3px 8px;
    color: #000000;
}

.llevarCombustible {
    color: #000000;
}