/* Fondo solo para login */
.loginBase {
    min-height: calc(100vh - 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
}


.loginContainer {
    width: 100%;
    max-width: 420px;
    padding: 35px;
    background: white;
    border-radius: 14px;
    text-align: center;
}


.loginContainer h1 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #0A2A43;
    padding: 0;
}


.loginForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.loginForm input {
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.loginForm button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #0A2A43;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #083055;
}


.loginVolver {
    display: inline-block;
    margin-top: 22px;
    color: #0A2A43;
    font-size: 14px;
}
.loginError {
    margin-top: 15px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #ffeaea;
    color: #b00020;
    border: 1px solid #f5b5b5;
    font-size: 0.95rem;
    text-align: center;
}
.loginVolver:hover {
    text-decoration: underline;
}