/* Fondo solo para login */
.login_base {
    min-height: calc(100vh - 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
}


.login_container {
    width: 100%;
    max-width: 420px;
    padding: 35px;
    background: white;
    border-radius: 14px;
    text-align: center;
}


.login_container h1 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #0A2A43;
    padding: 0;
}


.login_form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.login_form input {
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login_form button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #0A2A43;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.login_form button:hover {
    background-color: #083055;
}


.login_error {
    color: #c0392b;
    font-size: 18px;
 
}


.login_volver {
    display: inline-block;
    margin-top: 22px;
    color: #0A2A43;
    font-size: 14px;
}
